*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

body{
    margin-top: 30px;

    background: rgb(63, 63, 240);
    font: normal 20px sans-serif;
}

header{
    color: #fff;
    text-align: center;
}

section{
    background: #fff;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.481);   
}

div{
    text-align: center;
}

#pic{
    display: absolute;
    width: 250px;
    height: 250px;
    
}

footer{
    text-align: center;
    color: #fff;
}
